
.body {
	width: 100%;
	margin: 0px;
}
#header {
	display: flex;
	height: 100px;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #20201c;
	font-size: 2em;
	font-family: fantasy, sans-serif;
}
#header .logo {
	display: flex;
	width: 35%;
	justify-content: space-around;
	align-items: center;
	color: white;
}
#header .nav-bar {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.nav-bar ul li {
	list-style: none;
	display: inline-flex;

}
.nav-bar ul li a {
	text-decoration: none;
	margin-right: 20px;
	color: white;
}
.image {
	width: 100%;
	height: auto;
}
#location-search-input {
	position: absolute;
	font-size: 1.5em;
	padding: 10px 24px;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 60%;
	margin-left: 19%;
	margin-right: 19%;
	top: 200px;
}

.table-container {
	max-width: 1280px;
	height: 200px;
	position: absolute;
	top: 30%;
	left: 24%;
}	

.table-container .content-wrapper {
	height: 70%;
	top: 20px;
	position: relative;
}

.content-wrapper h3 {
	position: absolute;
	top:-40px;
	left: 63px;
}

.table-content {
	overflow: hidden;
	margin: 0 75px 0 60px;
	font-family: math, sans-serif;
}

.table-content2 {
	width: 90%;
	display: flex;
	
}

#show-controls {
	display: none;
}

.controls .arrow {
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.controls .left {
	left: 10px;
	display: inline-block;
 	border-right: 4px solid black;
 	border-bottom: 4px solid black;
 	width: 15px;
 	height: 15px;
 	transform: rotate(-225deg);
}

.controls .right {
	right: 10px;
	display: inline-block;
  	border-right: 4px solid black;
  	border-bottom: 4px solid black;
 	width: 15px;
 	height: 15px;
 	transform: rotate(-45deg);
}

#alert {
	display: none;
	width: 50%;
	padding: 15px;
	box-sizing: border-box;
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    text-align: center;
    border-radius: 4px;
    position: relative;
    top: -700px;
    margin: auto;
}

.all-data {
	border-radius: 6px;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #E9E4F0, #D3CCE3);
    background: -o-linear-gradient(left, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.date-time {
	border-radius: 6px;
	border: transparent;
	text-align: center;
}

.img-icon {
	border-radius: 6px;
	border: transparent;
	text-align: center;
}

.temp {
	border-radius: 6px;
	border: transparent;
	text-align: center;
}

.weather {
	border-radius: 8px;
	border: transparent;
	text-align: center;
}



@media only screen and (max-width: 720px) {
	body {
		background-image: url(weather.jpg);
		background-repeat: repeat-y;
		background-size: cover;	
	}
	#location-search-input {
		margin-left: 15%;
	}
	.img-canvas {
		display: none;
	}
	#header {
		font-size: 1em;
	}
	#header .logo {
		text-align: center;
		height: 100px;
	}
	#header .nav-bar {
		display: none;
	}
	.btn-container {
		display: flex;
		align-items: center;
		width: 65%;
		justify-content: flex-end;
		height: 100px;
	}
	.menu-btn {
		display: flex;
		height: 50px;
		width: 50px;
		margin-right: 50px;
		align-items: center;
		background-color: #dfdfdf;
		border-radius: 5px;
	}
	#dropdown-menu a {
		display: block;
		font-size: 16px;
		background-color: #fff;
		color: black;
		padding: 2px;
		margin: 3% 14%;
		text-decoration: none;
		border-radius: 3px;
		text-align: center;
		
	}
	#dropdown-menu {
		display: none;
		position: absolute;
		top: 12%;
		right: 5%;
		z-index: 1;
	}
	.table-container {
		max-width: -moz-available;
		left: auto;
		top: 40%;
	}
	.controls .left{
		border-color: white;
	}
	.controls .right{
		border-color: white;
	}
	.dropdown-menu a {

	}
	
}

@media only screen and (max-width: 1199px) and (min-width: 721px) {
	.btn-container {
		display: none;
	}
	.table-container {
		max-width: -moz-available;
		left: auto;
		top: 40%;
	}
}

@media only screen and (max-width: 1200px) {

	#header {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 1200px) {
	.btn-container {
		display: none;
	}
}